# Opções Globais
{
    # Email para avisos de expiração do Let's Encrypt (opcional, mas recomendado)
    email seu-email@exemplo.com
}

# Snippet reutilizável para segurança e performance
(common) {
    encode zstd gzip
    # Adiciona suporte para certificados locais auto-assinados em dev
    tls internal
    header {
        # Previne ataques de sniffing de MIME
        X-Content-Type-Options "nosniff"
        # Proteção contra Clickjacking
        X-Frame-Options "SAMEORIGIN"
        # Política de Referrer
        Referrer-Policy "strict-origin-when-cross-origin"
        # Remove o header que identifica o servidor por segurança
        -Server
    }
}

# Frontend (Site Principal)
marombai.app, localhost {
    import common
    reverse_proxy frontend:80
}

www.marombai.app {
    redir https://marombai.app{uri} permanent
}

# Backend (API)
api.marombai.app {
    import common
    reverse_proxy backend:8000
}

# n8n (Fluxos)
n8n.marombai.app {
    import common
    reverse_proxy n8n:5678
}
