# Configurações do Banco de Dados
DATABASE_URL=postgresql://admin:password123@localhost:5432/marombai_db

# Configurações n8n
WEBHOOK_URL=http://localhost:5678/webhook-test/gerar-treino
WEBHOOK_URL_DIETA=http://localhost:5678/webhook-test/gerar-dieta
N8N_PASSWORD=marombai_n8n_secure